<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
    <!--  ipone手机数字标蓝 -->
    <meta content="telephone=no" name="format-detection">
    <meta name="x5-fullscreen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta property="og:type" content="image">
    <meta property="og:image" content="http://n1.c.imoxiu.com/916fd6bf3724659063bc9784fcbeb76486c70d9a">
    <title>title</title>
    <meta name="keywords" content="关键词">
  	<meta name="description" content="描述">
    <script src="https://afestatic.imoxiu.com/lib/rem.js"></script>
    <script>
      var _hmt = _hmt || [];
      _hmt.push(['_setAutoPageview', false]);
    
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?6d426d1f6f42339b76f337789a6c79cd";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();

    </script>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
